/* Your app styles here */

table {
    table-layout:fixed;
    word-wrap:break-word;
    border-collapse: collapse;
    /*margin:5px;*/
}
th{
    border: 1px solid black;
    background-color: lightblue;
    font-weight: lighter;
    padding: 0 5px 0 5px;
}

td{
    border: 1px solid black;
    padding: 0 5px 0 5px;
    /*overflow: hidden;*/
    word-wrap:break-word;
    white-space:pre-wrap;
}

#login-button-div{
    text-align: center;
}
.text-centered{
    text-align: center;
}
.text-right{
    text-align: right;
}
.blue-text{
    color:darkblue;
}

